/* --------------------------- /////////// VII. TEAM SECTION /////////// --------------------------- */
.services {
    padding-top: 100px;
}

.email {
    color: #E84118;
    font-weight: 800;
}


/* --------------------------- /////////// XII. RESPONSIVE STYLES /////////// --------------------------- */
